/*--------------------BODY TEXT----------------------------------------------------------------*/

body {
    font-family: 'Abel', sans-serif;
    position: relative;
    color: #FFF;
}

/* CSS used here will be applied after bootstrap.css */
html,body {
  height:100%;
    
}



.first {
  padding-top:140px;
  height:100vh;
  min-height:400px;
  background-size:cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/homepage1.jpg');
}

.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;  
  -o-transition:padding 0.2s ease-out;         
  transition:padding 0.2s ease-out;
  background-color: #353333;
  border-color: #353333;
}

.affix-top {
  /* navbar style at top */
  background:transparent;
  border-color:transparent;
  padding: 15px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease; 
  -o-transition:all 0.5s ease;         
  transition:all 0.5s ease;  
}

.affix-top .nav>li>a {
   color: #000;
}

.affix-top .navbar-collapse {
   border-color:transparent;
   box-shadow:initial;
}

section {
  height:calc(90% - 50px);
  height: 90vh;
}


.hi {
    font-size:2rem;
}

.name {
    font-size: 6rem;
}


.description {
    font-size: 2.5rem;
}

.enquire-container {
    height: 40%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.portfolio-header {
    color:#000;
    font-size: 50px;
    padding-top: 50px;
}

.portfolio-text {
    color:#000;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*
#portfolio1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#portfolio1:hover {opacity: 0.7;}
*/


.vividworknav {
      width: 100%;
      height: auto;
      float: left;
      padding: 0;
      position: relative;
      background-color: black;
    }

    .vividworknav:hover img {
      opacity: 0.3;
    }

    .vividworknav:hover .work-text-content {
      opacity: 1; 
    }

    .vividworknav img {
      padding: 0;
      width: 100%;
      display: block;
      opacity: 1;
    }

    .vividworknav img,
    .work-text-content {
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out;
    }

    .work-text-content {
      position: absolute;
      color: white;
      left: 0;
      top: 25%;
      right: 0;
      bottom: 0;
      font-size: 24px;
      text-align: center;
      opacity: 0;
    }



/*--------------------- NAVBAR ------------------------------------------*/




.navbar-default .navbar-collapse {
    border-color: transparent;
    padding-top: 20px;
    box-shadow: none;
}

.navbar-default .navbar-toggle {
    border-width: .5px .5px .5px .5px;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


.pointer {
    cursor: pointer;
}

.navbar .navbar-brand {
    padding-top: 15px;
    color:#FFF
}




.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-collapse {
    text-align: center;
}

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 180px;
    text-align: center;

}

.btn-red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus,
.btn-red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}



